html,body{
    width:100%;
    min-width:940px;
    background: none;
/*    height:99.99%;*/
    color:#444;
/*    text-shadow: 1px 1px 0 rgba(255,255,255,0.45);*/
}
html{
/*    background:url(../assets/img/textures/stucked_paper.png) repeat top left;*/
/*    background: url(../assets/img/textures/furley_bg.png) repeat top left;*/
    background: #fafafa;

}

body {
    padding: 0px;
/*    background: rgba(255,255,255,0.3);*/

}
a{
    color:#0066aa;
}
a, a:active, a:focus{
    outline:none !important;
}

#main{
    padding-bottom:60px;
}
#footer{
    background: #333;
    background:url(../assets/img/textures/furley_bg.png) repeat top left;
    color:#999;
    text-shadow: none;
    
    position:fixed;
    bottom:0px;
    width:100%;
    min-width: 940px;
    left:0;
    height:50px;
    box-shadow:0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 1px 4px rgba(0, 0, 0, 0.15) inset;
/*    box-shadow:0 -2px 3px rgba(0, 0, 0, 0.35), 0 2px 0 rgba(0, 0, 0, 0.15) inset;*/
    z-index:9999;
}

#footer_content{
    padding:12px 20px;
    font-size:12px;
    line-height: normal;
    background:rgba(0,0,0,0.18);
}



#footer a, #footer a:hover{
/*    color:#999;*/
    text-decoration: none;
    
}

#footer .icon-white{
    opacity:0.7;
}
#footer a:hover .icon-white,
#footer .dropdown.open .icon-white{
    opacity:1;
}

#footer a i{
    margin-right: 5px;
}
#header_content{
    padding:10px 0;
}


.breadcrumbsbar-visible #header{
    padding-top:74px;
}
#breadcrumbsbar{
    position:fixed;
    min-width: 940px;
    top:40px;
    left:0;
    width:100%;
    z-index:999;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
}
#breadcrumbsbar .breadcrumb{
    /*        border:none;*/
    border-radius: 0;
    margin:0;
    padding-left:20px;
    padding-right:20px;
    background: rgba(255,255,255,0.8);
}